.users {
  max-width: 1200px;
  display: flex;
  margin-inline: auto;

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  li {
    padding: 10px;
  }
}

.add-user {
  padding: 1rem;
}
